nav {
  background: linear-gradient(to right, rgba($main, 1), rgba($main, 0.5));
  color: #fff;
  height: 3rem;
  padding-left: 1%;
  a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
    display: block;
    text-align: center;
    line-height: 3rem;
    &:hover {
      color: $main;
      background: #fff;
    }
  }
  span {
    float: right;
    margin-right: 2%;
    font-size: 2rem;
    line-height: 3rem;
    &:hover {
      cursor: pointer;
    }
  }
}
